#promocion #cnt_img { background-color: rgb(245, 245, 245); padding: 8px 0px; margin: 12px 0px; }

#promocion #cnt_img img { margin: 4px auto; }

#promocion #pmf { margin-left: 12px; }

#promocion #pmf .preg { font-weight: bold; margin-bottom: 6px; }